
	<launch>
		<node name="youbot_moveit_test" pkg="youbot_moveit_test" type="youbot_moveit_test_node"
			respawn="false" output="screen">
		</node>

		<node pkg="tf" type="static_transform_publisher" name="link1_broadcaster" args="
			-0.148 -0.012 0.347 -3.106 -1.416 -3.141 odom_combined goal_frame 100" />
		
	</launch>

